<div class="row">
    
<div class="col-md-6 mt-4">
    <div class="card">
    <div class="card-body">
        <div class="form-group">
            <label for="">Todo Item</label>
           <input type="text" #todoitem class="form-control">
        </div>
            <button *ngIf="!IsInEditMode" (click)="OntodoAdd(todoitem)" mat-raised-button color="primary" class="btn-block">Add Todo</button>
            <button *ngIf="IsInEditMode" (click)="OnUpdateTodo(todoitem)" mat-raised-button color="primary" class="btn-block">Update Todo</button>

    </div>
</div>
</div>
<div class="col-md-6 mt-4">
   <div class="card">
    <div class="card-body">
         <ul class="list-group" *ngIf="todosArr.length > 0; else noTodos ">
        <li *ngFor="let todo of todosArr" class="list-group-item d-flex justify-content-between">
            <strong>{{todo.todoitem}}</strong>
            <div>
        <button mat-stroked-button (click)="OnTodoEdit(todo)" color="primary">Edit</button>
        <button mat-stroked-button (click)="OnTodoRemove(todo.todoid)" color="warn">Remove</button>
            </div>
        </li>
    </ul>
    </div>
   </div>

   <ng-template #noTodos>
  <p class="alert alert-info">
    No Todos
  </p>
   </ng-template>
</div>
</div>